<tr>
  <th scope="row">Company name</th>
  <td>{{ user.customer.company_name}}</td>
</tr>
<tr>
  <th scope="row">Customer status</th>
  {% for customer in user.customer.customer_customer_demo.all %}
  <td>{{ customer.customer_desc }}</td>
  {% endfor %}
</tr>
<tr>
  <th scope="row">Contact name</th>
  <td>{{ user.customer.contact_name}}</td>
</tr>
<tr>
  <th scope="row">Contact title</th>
  <td>{{ user.customer.contact_title}}</td>
</tr>
<tr>
  <th scope="row">Address</th>
  <td>{{ user.customer.address}}</td>
</tr>
<tr>
  <th scope="row">City</th>
  <td>{{ user.customer.city}}</td>
</tr>
<tr>
  <th scope="row">Region</th>
  <td>{{ user.customer.region}}</td>
</tr>
<tr>
  <th scope="row">Postal code</th>
  <td>{{ user.customer.postal_code}}</td>
</tr>
<tr>
  <th scope="row">Country</th>
  <td>{{ user.customer.country}}</td>
</tr>
<tr>
  <th scope="row">Phone</th>
  <td>{{ user.customer.phone}}</td>
</tr>
<tr>
  <th scope="row">Fax</th>
  <td>{{ user.customer.fax}}</td>
</tr>