<tr>
  <th scope="row">Last name</th>
  <td>{{ user.employee.last_name }}</td>
</tr>
<tr>
  <th scope="row">First name</th>
  <td>{{ user.employee.first_name }}</td>
</tr>
<tr>
  <th scope="row">Title</th>
  <td>{{ user.employee.title }}</td>
</tr>
<tr>
  <th scope="row">Title of courtesy</th>
  <td>{{ user.employee.title_of_courtesy }}</td>
</tr>
<tr>
  <th scope="row">Birth date</th>
  <td>{{ user.employee.birth_date }}</td>
</tr>
<tr>
  <th scope="row">Hire date</th>
  <td>{{ user.employee.hire_date }}</td>
</tr>
<tr>
  <th scope="row">Address</th>
  <td>{{ user.employee.address }}</td>
</tr>
<tr>
  <th scope="row">City</th>
  <td>{{ user.employee.city }}</td>
</tr>
<tr>
  <th scope="row">Region</th>
  <td>{{ user.employee.region }}</td>
</tr>
<tr>
  <th scope="row">Postal code</th>
  <td>{{ user.employee.postal_code }}</td>
</tr>
<tr>
  <th scope="row">Country</th>
  <td>{{ user.employee.country }}</td>
</tr>
<tr>
  <th scope="row">Home phone</th>
  <td>{{ user.employee.home_phone }}</td>
</tr>
<tr>
  <th scope="row">Extension</th>
  <td>{{ user.employee.extension }}</td>
</tr>
<tr>
  <th scope="row">Photo</th>
  <td>{{ user.employee.photo }}</td>
</tr>
<tr>
  <th scope="row">Notes</th>
  <td>{{ user.employee.notes }}</td>
</tr>
<tr>
  <th scope="row">Reports to</th>
  <td>{{ user.employee.reports_to }}</td>
</tr>
<tr>
  <th scope="row">Photo path</th>
  <td>{{ user.employee.photo_path }}</td>
</tr>
<tr>
  <th scope="row">Territories</th>
  <td>{{ user.employee.territories }}</td>
</tr>