{% extends 'base.html' %}
{% block title %}
Profile Page
{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-info text-white">
        Profile Page
      </div>
      <div class="row p-3">
        <div class="col-md-8">
          <table class="table table-borderless">
            <thead>
            <span class="h4">Profile Information</span>
            <a class="btn btn-info btn-sm float-right" href="{% url 'users:profile_update' %}">Edit</a>
            <hr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Email</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th scope="row">First Name</th>
              <td>{{ user.first_name }}</td>
            </tr>
            <tr>
              <th scope="row">Last Name</th>
              <td>{{ user.last_name }}</td>
            </tr>
            <tr>
              <th scope="row">created</th>
              <td>{{ user.profile.created_at }}</td>
            </tr>
            <tr>
              <th scope="row">company name</th>
              <td>{{ user.profile.company_name}}</td>
            </tr>
            <tr>
              <th scope="row">contact name</th>
              <td>{{ user.profile.contact_name}}</td>
            </tr>
            <tr>
              <th scope="row">contact title</th>
              <td>{{ user.profile.contact_title}}</td>
            </tr>
            <tr>
              <th scope="row">address</th>
              <td>{{ user.profile.address}}</td>
            </tr>
            <tr>
              <th scope="row">city</th>
              <td>{{ user.profile.city}}</td>
            </tr>
            <tr>
              <th scope="row">region</th>
              <td>{{ user.profile.region}}</td>
            </tr>
            <tr>
              <th scope="row">postal code</th>
              <td>{{ user.profile.postal_code}}</td>
            </tr>
            <tr>
              <th scope="row">country</th>
              <td>{{ user.profile.country}}</td>
            </tr>
            <tr>
              <th scope="row">phone</th>
              <td>{{ user.profile.phone}}</td>
            </tr>
            <tr>
              <th scope="row">fax</th>
              <td>{{ user.profile.fax}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{ user.profile.image.url }}" alt="profile-image">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}