{% extends 'base.html' %}
{% block title %}
Profile Page
{% endblock %}

{% block content %}
<div class="row my-4">
  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-info text-white">
        Profile Page
      </div>
      <div class="row p-3">
        <div class="col-md-8">
          <table class="table table-borderless">
            <thead>
            <span class="h4">Profile Information</span>
            {% if user.user_type == 1 %}
            <a class="btn btn-info btn-sm float-right" href="{% url 'users:employee_update' %}">Edit</a>
            {% else %}
            <a class="btn btn-info btn-sm float-right" href="{% url 'users:customer_update' %}">Edit</a>
            {% endif %}
            <hr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">Email</th>
              <td>{{ user.email }}</td>
            </tr>
            {% if user.user_type == 4 %}
            <tr>
              <th scope="row">First Name</th>
              <td>{{ user.first_name }}</td>
            </tr>
            <tr>
              <th scope="row">Last Name</th>
              <td>{{ user.last_name }}</td>
            </tr>
            {% endif %}
            {% if user.user_type == 1 %}
              {% include 'users/employee_profile.html' %}
            {% else %}
              {% include 'users/customer_profile.html' %}
            {% endif %}
            </tbody>
          </table>
        </div>

         {% if user.user_type == 1 %}
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{ user.employee.photo.url }}" alt="profile-image">
          </div>
        {% else %}
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{ user.customer.image.url }}" alt="profile-image">
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}