{% extends 'base.html' %}
{% block title %}
    Categories
{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-4">

        <div class="alert alert-">

        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for c in object_list %}
            <tr>
                <td>{{ c.category_name }}</td>
                <td>{{ c.description }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}