{% extends 'base.html' %}
{% block title %}
Create New Order
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Create New Order</h5>
    </div>
    <div class="card-body-sm">
        <form method="post">
            {% csrf_token %}
            {{ forms|crispy }}

            <!--display for every User -->
            {{ form.product_id|as_crispy_field }}
            {{ form.quantity|as_crispy_field  }}

            <!--only for user_type == 1 or admin-->
            {% if request.user.user_type == 1 or user.is_superuser %}

                {{ form.order_id|as_crispy_field }}
                {{ form.created_by|as_crispy_field }}
                {{ form.discount|as_crispy_field }}

            <!--only for user_type == 4-->
            {% else %}

                {{ form.order_id.as_hidden }}
                {{ form.created_by.as_hidden }}
                {{ form.discount.as_hidden}}

            {% endif %}

            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
{% endblock %}