{% extends 'base.html' %}
{% block title %}
Edit Order
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Update the Order </h5>
    </div>
    <div class="card-body-sm">
        <form method="post">
            {% csrf_token %}


            <!--display for every User -->
            <span>{{ form.instance.product_id.product_name }}</span>
            <span>{{ form.instance.order_id }}</span>
            {{ form.order_id.as_hidden }}
            {{ form.product_id.as_hidden }}
            {{ form.quantity|as_crispy_field  }}


            <!--only for user_type == 1 or admin-->
            {% if request.user.user_type == 1 or user.is_superuser %}

                {{ form.created_by|as_crispy_field }}
                {{ form.discount|as_crispy_field }}

            <!--only for user_type == 4-->
            {% else %}


                {{ form.created_by.as_hidden }}
                {{ form.discount.as_hidden }}
                {{ form.total_amount.as_hidden }}
                {{ form.discounted_total.as_hidden }}
                {{ form.total_price.as_hidden }}

            {% endif %}

            <button type="submit" class="btn btn-success">Update</button>


        </form>
    </div>
</div>
{% endblock %}
