{% extends 'base.html' %}
{% block title %}
Orders
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="alert alert-">
            <form method="get">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="text" name="q" value="{{ request.GET.q }}">
                <input type="submit" value="Search">
            </form>
        </div>
        <table class="table bg-white">
            <thead class="bg-info text-white">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Category</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Ordered By</th>
            </tr>
            </thead>
            <tbody>

            {% for o in object_list %}
            <tr>
                <td>
                    <a class="text-decoration-none text-dark" href="{{ o.get_absolute_url }}">
                        <span>{{ o.order_id.order_id }}</span>
                    </a>
                </td>
                <td>{{ o.product_id.category_id }}</td>
                <td>
                    <a class="text-decoration-none text-dark" href="{{ o.product_id.get_absolute_url }}">
                        <span>{{ o.product_id.product_name }}</span>
                    </a>
                </td>
                <td>{{ o.quantity }}</td>
                <!-- link guard by permission group to impletement later -->
                <td>{{ o.order_id.customer_id}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}




