{% extends 'base.html' %}
{% block title %}
Products
{% endblock %}
{% block content %}
<div class="row my-4">
  <div class="col-md-4">

    <div class="alert alert-">

    </div>
  </div>
  <div class="col-md-8">
    <table class="table bg-white">
      <tbody>
      <tr>
        <td>Product ID</td>
        <td>{{ object.product_id }}</td>
      </tr>
      <tr>
        <td>Product Name</td>
        <td>{{ object.product_name }}</td>
      </tr>
      <tr>
        <td>Supplier ID</td>
        <td>{{ object.supplier_id }}</td>
      </tr>
      <tr>
        <td>Category ID</td>
        <td>{{ object.category_id }}</td>
      </tr>
      <tr>
        <td>quantity_per_unit</td>
        <td>{{ object.quantity_per_unit }}</td>
      </tr>
      <tr>
        <td>unit_price</td>
        <td>{{ object.unit_price }}</td>
      </tr>
      <tr>
        <td>units_in_stock</td>
        <td>{{ object.units_in_stock }}</td>
      </tr>
      <tr>
        <td>units_on_order</td>
        <td>{{ object.units_on_order }}</td>
      </tr>
      <tr>
        <td>reorder_level</td>
        <td>{{ object.reorder_level }}</td>
      </tr>
      <tr>
        <td>discontinued</td>
        <td>{{  object.discontinued }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}