{% extends 'base.html' %}
{% block title %}
Employees
{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-4">

        <div class="alert alert-">

        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
            <tr>
                <th scope="col">Employee</th>
            </tr>
            </thead>
            <tbody>
            {% for e in object_list %}
                <tr>
                    <td><a class="text-decoration-none text-dark" href="{{ e.get_absolute_url }}">{{ e }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}