{% extends 'base.html' %}
{% block title %}
Employees
{% endblock %}
{% block content %}
<div class="row my-4">
    <div class="col-md-4">

        <div class="alert alert-">

        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
            <tr>
                <th scope="col">ToC</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Title</th>
                <th scope="col">Hire date</th>
                <th scope="col">Country</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">Region</th>
                <th scope="col">Extension</th>
                <th scope="col">Phone</th>
                <th scope="col">Reports to</th>
            </tr>
            </thead>
            <tbody>
            {% for e in object_list %}
            <tr>
                <td>{{ e.title_of_courtesy }}</td>
                <td>{{ e.first_name }}</td>
                <td>{{ e.last_name }}</td>
                <td>{{ e.title }}</td>
                <td>{{ e.hire_date }}</td>
                <td>{{ e.country }}</td>
                <td>{{ e.address }}</td>
                <td>{{ e.city }}</td>
                <td>{{ e.region }}</td>
                <td>{{ e.extension}}</td>
                <td>{{e.home_phone}}</td>
                <td>{{ e.reports_to }}</td>

            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}