{% extends 'base.html' %}
{% block title %}
Orders
{% endblock %}

{% block content %}

<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Category</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Ordered By</th>
            </tr>
            </thead>
            <tbody>

            {% for o in order_details %}
            <tr>
                <td>{{ o.order_id.order_id }}</td>
                <td>{{ o.product_id.category_id }}</td>
                <td>{{ o.product_id.product_name }}</td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.order_id.customer_id}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}




