{% extends 'base.html' %}
{% block title %}
Products
{% endblock %}
{% block content %}
<div class="row my-4">
    <div class="col-md-4">

        <div class="alert alert-">

        </div>

        <div class="card card-body">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">

                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>
    <div class="col-md-">
        <table class="table bg-white">
            <thead class="bg-info text-white">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity per unit</th>
                <th scope="col">Unit price</th>
                <th scope="col">Units in stock</th>
                <th scope="col">Units on order</th>
                <th scope="col">Reorder level</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for p in object_list %}
            <tr>
                <td>
                    <a class="text-decoration-none text-dark" href="{{ p.get_absolute_url }}">
                        <span>{{p.product_name}}</span>
                    </a>
                </td>
                <td> {{ p.category_id.category_name }} </td>
                <td> {{ p.quantity_per_unit }} </td>
                <td> {{ p.unit_price }}</td>
                <td> {{ p.units_in_stock }}</td>
                <td> {{ p.units_on_order }}</td>
                <td> {{ p.reorder_level }}</td>
                <td>
                    <a class="btn btn-info btn-sm mr-2"
                       href="">Edit</a>
                    <a class="btn btn-danger btn-sm ml-2"
                       href="">Delete</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}